<tr class="nested-fields">
<%= f.hidden_field :_destroy %>
<%= f.hidden_field :status, :value => 0 %>
<td>
<%= f.text_field :family_name, class: 'form-control' %>
</td>
<td>
<%= f.text_field :first_name, class: 'form-control' %>
</td>
<td>
<%= f.date_field :birthday, class: 'form-control' %>
</td>
<td>
<%= f.select(:gender, [['男性', "m"], ['女性', "f"]], class: 'form-control') %>
</td>
<td>
<%= link_to_remove_association '削除', f, class: 'btn btn-default' %>
</td>
</tr>
