energy_sum2=
<%= date1=  @energy_sum2[0] %>
<%= date2=  @energy_sum2[1] %>
<%= date3=  @energy_sum2[2] %>
<%= date4=  @energy_sum2[3] %>
<%= date5=  @energy_sum2[4] %>
<%= date6=  @energy_sum2[5] %>

<!--レーダーチャート1-->
<div class="chart_container" >
<canvas id="myRadarChart" ></canvas>
</div>

<script>
//レーダーチャート
var ctx = document.getElementById("myRadarChart");
var myRadarChart = new Chart(ctx, {
  //グラフの種類
  type: 'radar',
  //データの設定
  data: {
      //データ項目のラベル
      labels: ["デザイン", "オリジナリティ", "コンテンツ", "アクセサビリティ", "写真"],
      //データセット
      datasets: [
          // {
          //     //凡例
          //     label: "A社",
          //     //背景色
          //     backgroundColor: "rgba(179,181,198,0.2)",
          //     //枠線の色
          //     borderColor: "rgba(179,181,198,1)",
          //     //結合点の背景色
          //     pointBackgroundColor: "rgba(179,181,198,1)",
          //     //結合点の枠線の色
          //     pointBorderColor: "#fff",
          //     //結合点の背景色（ホバーしたとき）
          //     pointHoverBackgroundColor: "#fff",
          //     //結合点の枠線の色（ホバーしたとき）
          //     pointHoverBorderColor: "rgba(179,181,198,1)",
          //     //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
          //     hitRadius: 5,
          //     //グラフのデータ
          //     data: <%= @energy_sum2.slice(1..-1) %>
          // },
          {
              //凡例
              label: "B社",
              //背景色
              backgroundColor: "rgba(255,99,132,0.2)",
              //枠線の色
              borderColor: "rgba(255,99,132,1)",
              //結合点の背景色
              pointBackgroundColor: "rgba(255,99,132,1)",
              //結合点の枠線の色
              pointBorderColor: "#fff",
              //結合点の背景色（ホバーしたとき）
              pointHoverBackgroundColor: "#fff",
              //結合点の枠線の色（ホバーしたとき）
              pointHoverBorderColor: "rgba(255,99,132,1)",
              //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
              hitRadius: 5,
              //グラフのデータ
              data: [28, 48, 40, 19, 96, 27]
          }
      ]
  }
});

</script>　

<div class="chart_staff">
    <!--レーダーチャート2-->
    <div class="chart_container2">
    <canvas id="myRadarChart2"></canvas>
    </div>
    
    <script>
    //レーダーチャート
    var ctx = document.getElementById("myRadarChart2");
    var myRadarChart = new Chart(ctx, {
      //グラフの種類
      type: 'radar',
      //データの設定
      data: {
          //データ項目のラベル
          // labels: ["デザイン", "オリジナリティ", "コンテンツ", "アクセサビリティ", "写真"],
          labels: ["D", "O", "C", "A", "P"],
    
          //データセット
          datasets: [
              // {
              //     //凡例
              //     label: "A社",
              //     //背景色
              //     backgroundColor: "rgba(179,181,198,0.2)",
              //     //枠線の色
              //     borderColor: "rgba(179,181,198,1)",
              //     //結合点の背景色
              //     pointBackgroundColor: "rgba(179,181,198,1)",
              //     //結合点の枠線の色
              //     pointBorderColor: "#fff",
              //     //結合点の背景色（ホバーしたとき）
              //     pointHoverBackgroundColor: "#fff",
              //     //結合点の枠線の色（ホバーしたとき）
              //     pointHoverBorderColor: "rgba(179,181,198,1)",
              //     //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
              //     hitRadius: 5,
              //     //グラフのデータ
              //     data: <%= @energy_sum2.slice(1..-1) %>
              // },
              {
                  //凡例
                  label: "B社",
                  //背景色
                  backgroundColor: "rgba(255,99,132,0.2)",
                  //枠線の色
                  borderColor: "rgba(255,99,132,1)",
                  //結合点の背景色
                  pointBackgroundColor: "rgba(255,99,132,1)",
                  //結合点の枠線の色
                  pointBorderColor: "#fff",
                  //結合点の背景色（ホバーしたとき）
                  pointHoverBackgroundColor: "#fff",
                  //結合点の枠線の色（ホバーしたとき）
                  pointHoverBorderColor: "rgba(255,99,132,1)",
                  //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                  hitRadius: 5,
                  //グラフのデータ
                  data: [28, 48, 40, 19, 96, 27]
              }
          ]
      }
    });
    
    </script>　
    
    
    <!--レーダーチャート3-->
    <div class="chart_container2">
    <canvas id="myRadarChart3"></canvas>
    </div>
    
    <script>
    //レーダーチャート
    var ctx = document.getElementById("myRadarChart3");
    var myRadarChart = new Chart(ctx, {
      //グラフの種類
      type: 'radar',
      //データの設定
      data: {
          //データ項目のラベル
          // labels: ["デザイン", "オリジナリティ", "コンテンツ", "アクセサビリティ", "写真"],
          labels: ["D", "O", "C", "A", "P"],      
          //データセット
          datasets: [
              // {
              //     //凡例
              //     label: "A社",
              //     //背景色
              //     backgroundColor: "rgba(179,181,198,0.2)",
              //     //枠線の色
              //     borderColor: "rgba(179,181,198,1)",
              //     //結合点の背景色
              //     pointBackgroundColor: "rgba(179,181,198,1)",
              //     //結合点の枠線の色
              //     pointBorderColor: "#fff",
              //     //結合点の背景色（ホバーしたとき）
              //     pointHoverBackgroundColor: "#fff",
              //     //結合点の枠線の色（ホバーしたとき）
              //     pointHoverBorderColor: "rgba(179,181,198,1)",
              //     //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
              //     hitRadius: 5,
              //     //グラフのデータ
              //     data: <%= @energy_sum2.slice(1..-1) %>
              // },
              {
                  //凡例
                  label: "B社",
                  //背景色
                  backgroundColor: "rgba(255,99,132,0.2)",
                  //枠線の色
                  borderColor: "rgba(255,99,132,1)",
                  //結合点の背景色
                  pointBackgroundColor: "rgba(255,99,132,1)",
                  //結合点の枠線の色
                  pointBorderColor: "#fff",
                  //結合点の背景色（ホバーしたとき）
                  pointHoverBackgroundColor: "#fff",
                  //結合点の枠線の色（ホバーしたとき）
                  pointHoverBorderColor: "rgba(255,99,132,1)",
                  //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                  hitRadius: 5,
                  //グラフのデータ
                  data: [28, 48, 40, 19, 96, 27]
              }
          ]
      }
    });
    
    </script>　
    
    
    <!--レーダーチャート4-->
    <div class="chart_container2">
    <canvas id="myRadarChart4"></canvas>
    </div>
    
    <script>
    //レーダーチャート
    var ctx = document.getElementById("myRadarChart4");
    var myRadarChart = new Chart(ctx, {
      //グラフの種類
      type: 'radar',
      //データの設定
      data: {
          //データ項目のラベル
          // labels: ["デザイン", "オリジナリティ", "コンテンツ", "アクセサビリティ", "写真"],
          labels: ["D", "O", "C", "A", "P"],
          
          //データセット
          datasets: [
              // {
              //     //凡例
              //     label: "A社",
              //     //背景色
              //     backgroundColor: "rgba(179,181,198,0.2)",
              //     //枠線の色
              //     borderColor: "rgba(179,181,198,1)",
              //     //結合点の背景色
              //     pointBackgroundColor: "rgba(179,181,198,1)",
              //     //結合点の枠線の色
              //     pointBorderColor: "#fff",
              //     //結合点の背景色（ホバーしたとき）
              //     pointHoverBackgroundColor: "#fff",
              //     //結合点の枠線の色（ホバーしたとき）
              //     pointHoverBorderColor: "rgba(179,181,198,1)",
              //     //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
              //     hitRadius: 5,
              //     //グラフのデータ
              //     data: <%= @energy_sum2.slice(1..-1) %>
              // },
              {
                  //凡例
                  label: "B社",
                  //背景色
                  backgroundColor: "rgba(255,99,132,0.2)",
                  //枠線の色
                  borderColor: "rgba(255,99,132,1)",
                  //結合点の背景色
                  pointBackgroundColor: "rgba(255,99,132,1)",
                  //結合点の枠線の色
                  pointBorderColor: "#fff",
                  //結合点の背景色（ホバーしたとき）
                  pointHoverBackgroundColor: "#fff",
                  //結合点の枠線の色（ホバーしたとき）
                  pointHoverBorderColor: "rgba(255,99,132,1)",
                  //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                  hitRadius: 5,
                  //グラフのデータ
                  data: [28, 48, 40, 19, 96, 27]
              }
          ]
      }
    });
    
    </script>　
    
    
    <!--レーダーチャート5-->
    <div class="chart_container2">
    <canvas id="myRadarChart5"></canvas>
    </div>
    
    <script>
    //レーダーチャート
    var ctx = document.getElementById("myRadarChart5");
    var myRadarChart = new Chart(ctx, {
      //グラフの種類
      type: 'radar',
      //データの設定
      data: {
          //データ項目のラベル
          // labels: ["デザイン", "オリジナリティ", "コンテンツ", "アクセサビリティ", "写真"],
          labels: ["D", "O", "C", "A", "P"],
          //データセット
          datasets: [
              // {
              //     //凡例
              //     label: "A社",
              //     //背景色
              //     backgroundColor: "rgba(179,181,198,0.2)",
              //     //枠線の色
              //     borderColor: "rgba(179,181,198,1)",
              //     //結合点の背景色
              //     pointBackgroundColor: "rgba(179,181,198,1)",
              //     //結合点の枠線の色
              //     pointBorderColor: "#fff",
              //     //結合点の背景色（ホバーしたとき）
              //     pointHoverBackgroundColor: "#fff",
              //     //結合点の枠線の色（ホバーしたとき）
              //     pointHoverBorderColor: "rgba(179,181,198,1)",
              //     //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
              //     hitRadius: 5,
              //     //グラフのデータ
              //     data: <%= @energy_sum2.slice(1..-1) %>
              // },
              {
                  //凡例
                  label: "B社",
                  //背景色
                  backgroundColor: "rgba(255,99,132,0.2)",
                  //枠線の色
                  borderColor: "rgba(255,99,132,1)",
                  //結合点の背景色
                  pointBackgroundColor: "rgba(255,99,132,1)",
                  //結合点の枠線の色
                  pointBorderColor: "#fff",
                  //結合点の背景色（ホバーしたとき）
                  pointHoverBackgroundColor: "#fff",
                  //結合点の枠線の色（ホバーしたとき）
                  pointHoverBorderColor: "rgba(255,99,132,1)",
                  //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                  hitRadius: 5,
                  //グラフのデータ
                  data: [28, 48, 40, 19, 96, 27]
              }
          ]
      }
    });
    
    </script>　

</div>